@import 'ember-paper';

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}

#map {
    min-height: 100%;
    width: 100%;
    padding: 0px;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.leaflet-container {
    background: #ddd;
    outline: 0;
}

.bottom-overlay {
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    padding: 5px;

    .buttons {

    }
}

.side-overlay {
    z-index: 50;
    width: 50px;
    height: 500px;
    position: absolute;
    top: 0;
    padding: 5px;
    .buttons {

    }
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

.share-on-icon {
    padding-top: 5px;
    padding-right: 10px;
    md-icon {
        color: #6ae268;
    }

}
