{{outlet}}

{{top-menu title="Tietoja"}}

<div class="layout-padding">
    <div class="layout-row">
        Sovelluksen tekijä: Ville Pouhula (ville.pouhula@gmail.com)
    </div>

    {{paper-divider}}

    <div class="layout-row">
        <b>Käytetyt kirjastot ja palvelut:</b>
    </div>


    <div class="layout-row">
        Karttapalvelu: © OpenStreetMap contributors, © CARTO<br />
        Ikonit: flaticon.com, https://material.io/icons/ ja font-awesome<br />
        Tietokanta: mlab.com<br />
        Sovelluspalvelin: heroku.com
    </div>
</div>