{{outlet}}

{{#if showDialog}}
{{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
        <h2 class="md-title">Tervetuloa VPMets채-k채ytt채j채ksi!</h2>
        <p>Kerro ensin kuka olet.</p>
        {{paper-input placeholder="Nimesi" autofocus=true value=name onChange=(action (mut name))}}

    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button primary=true onClick=(action "closePromptDialog" "ok")}}Aloita!{{/paper-button}}
    {{/paper-dialog-actions}}

{{/paper-dialog}}
{{/if}}